@media screen and (max-width: 750px) {
 .sidebar {
     display: none;
 }

 .btn {
     display: flex;
 }

 .app__body {
     /* display: inline-block; */
     max-height: max-content;
    max-width: max-content;
 }

 .chat__body {
    padding-bottom: 10px;
    width: 90vw;
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;

 }

 .app {
     display: flex;
     height: 100vh;
     margin-bottom: auto;
 }

 
 .chat__message {
     position: relative;
     /* right: 60px; */

 }



}