.login__content form {
    
    width: 600px;
    margin: 0 auto;
    height: 600px;
    background-image: linear-gradient(to right, #5658d6, #7C35f5, #A79Cf8);
    box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75)
}

/* form>h2 {
    text-align: center;
    margin-top: 40px;
    color: salmon;
} */

/* .margin {
    margin-left: 700px;
} */

/* .login__container {
    background-image: linear-gradient(to right, #5658d6, #7C35f5, #A79Cf8);
    box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75)
} */

.float-container {
    border: 3px;
    padding: 20px;
}

.float-child-left {
    width: 50%;
    float: left;
    padding: 15px;
    border: 2px;
}

.float-child-right {
    width: 50%;
    float: right;
    padding: 15px;
    border: 2px;
}

.logo {
    height: 160px;
    width: 50%;
}

.form-group {
    padding: 40px;
    margin: auto;
}

.login__content button {
    display: block;
    width: 200px;
    margin: 40px auto;
    border-radius: 8px;
    height: 45px;
    background-color: yellow;
    font-size: medium;
}

.login__content input {
    width: 60%;
    border: 2px;
    border-radius: 8px;
    height: 60px;
    
}

.login__content ::placeholder {
    text-align: center;
    color:black;
    opacity: 50%;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: large;
}

.login__content label {
    float: left;
    width: 10em;
    margin-right: 1em;
    font-size: large;
}

.login__content p {
    text-align: center;
}

.signup__btn {
    text-decoration: none;
    color:red;
    font-size: medium;
    
}

@media only screen and (max-width: 1650px) {
    .logo {
        height: 10px;
        width: 10%;
    }

    .form {
        height: 20%;
        width: 20%
    }
   
}